<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 billion dollar app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="appname">
            A Place For Your Business
        </div>
        <div class="mediawiselogo">
            <img src="../static/img/headerlogo1.png" height="50" alt="Media Wise" />
        </div>
        <div class="hacklogo">
            <img src="../static/img/hacklogo.png" height="50" alt="Цифровой прорыв" />
        </div>
    </header>

    <div class="MainContainer">
        <div class="text montserrat-first">
        </div>
    </div>
    <button class="firstbutton">Сгенерировать</button>
    
</body>

<footer>
    <div class="footer">
        made by IGKA 
    </div>
</footer>
</html>