<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 billion dollar app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
</head>

<body>
    <header>
        <div class="appname">
            A Place For Your Business
        </div>
        <div class="mediawiselogo">
            <img src="../static/img/headerlogo1.png" height="50" alt="Media Wise" />
        </div>
        <div class="hacklogo">
            <img src="../static/img/hacklogo.png" height="50" alt="Цифровой прорыв" />
        </div>
    </header>
    <div class="main-container">
        <form id="anketaForm" action="/submit" method="POST" onsubmit="return validateForm()">
            <div class="anketa_container">
                <div class="age-container bottom-padding">
                    <label for="agetext" class="white-color">Возраст:</label><br>
                    <div class="min-max-container">
                        <div class="min_age_container">
                            <input type="number" class="low-high-frame text-style" id="age-i" name="age-from"
                                placeholder="От" min="18" max="80" required>
                        </div>
                        <div class="max_age_container">
                            <input type="number" class="low-high-frame text-style" id="age-to" name="age-to"
                                placeholder="До" min="18" max="80" required>
                        </div>
                    </div>
                </div>
                <div class="sex-container bottom-padding">
                    <label for="sex" class="white-color">Пол:</label><br>
                    <select id="SexStatus" name="SexStatus" class="frame-style text-style" required>
                        <option value="male">Мужчины</option>
                        <option value="female">Женщины</option>
                        <option value="all">Мужчины и Женщины</option>
                    </select><br>
                </div>
                <div class="buildboardNum-container bottom-padding">
                    <label for="buildboard" class="white-color">Количество билбордов:</label><br>
                    <input type="number" class="frame-style text-style" id="buildboard" name="buildboard" required min="1" max="50" required><br>
                </div>
                <div>
                    <label for="options" class="white-color">Доходность:</label>
                </div>
                <div class="options-container">
                    <input type="checkbox" id="a" name="options" value="a">
                    <label for="a">A</label><br>
                    <input type="checkbox" id="b" name="options" value="b">
                    <label for="b">B</label><br>
                    <input type="checkbox" id="c" name="options" value="c">
                    <label for="c">C</label><br>
                </div>
                <input type="hidden" id="selectedDistrict" name="selectedDistrict" required>
            </div>
            <div class="info-container" id="infoContainer">
                Здесь будет отображаться информация с сервера
            </div>
        </form>
        <div class="map-container">
            <div id="map" style="width:80%; height:70%"></div>
        </div>
    </div>
    <div class="bbutton">
        <button class="firstbutton" type="submit" form="anketaForm">Сгенерировать</button>
    </div>
    <div class="footer">
        made by IGKA 
    </div>
    <script src="../static/index.js"></script>
</body>
</html>
