<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 billion dollar app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;
    
        DG.then(function () {
            map = DG.map('map', {
                center: [55.75, 37.65],
                zoom: 10
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="appname">
            A Place For Your Business
        </div>
        <div class="mediawiselogo">
            <img src="../static/img/headerlogo1.png" height="50" alt="Media Wise" />
        </div>
        <div class="hacklogo">
            <img src="../static/img/hacklogo.png" height="50" alt="Цифровой прорыв" />
        </div>
    </header>

    <!-- <div class="MainContainer">
        <div class="text montserrat-first">
        </div>
    </div> -->
    <!-- <div class="bbutton">
        <button class="firstbutton">Сгенерировать</button>
    </div> -->
    <div class="main-container">
        <form id="anketaForm" action="/submit" method="POST">
            <div class="anketa_container">
                <div class="age-container bottom-padding">
                    <label for="agetext" class="white-color">Возраст:</label><br>
                    <div class="min-max-container">
                        <div class="min_age_container">
                            <input type="number" class="low-high-frame text-style" id="age-from" name="age-from"
                                placeholder="От" min="18" max="80">
                        </div>
                        <div class="max_age_container">
                            <input type="number" class="low-high-frame text-style" id="age-to" name="age-to"
                                placeholder="До" min="18" max="80">
                        </div>
                    </div>
                </div>
                <div class="sex-container bottom-padding">
                    <label for="sex" class="white-color">Пол:</label><br>
                    <select id="SexStatus" name="SexStatus" class="frame-style text-style">
                        <option value="m">Мужчины</option>
                        <option value="w">Женщины</option>
                    </select><br>
                </div>
                <div class="buildboardNum-container bottom-padding">
                    <label for="buildboard" class="white-color">Количество билбордов:</label><br>
                    <input type="number" class="frame-style text-style" id="buildboard" name="buildboard" required min="1" max="10"><br>
                </div>
                <div class="save-button bottom-padding">
                    <input type="submit" class="frame-style text-style extended-save-frame" value="Отправить">
                </div>
            </div>
        </form>
        <div class="map-container">
            <div id="map" style="width:80%; height:60%"></div>
        </div>
    </div>
    <div class="bbutton">
        <button class="firstbutton">Сгенерировать</button>
    </div>
    <div class="footer">
        made by IGKA 
    </div>
</html>
